body {
  font-family: 'Raleway', sans-serif;
  background: rgba(242, 242, 242, .6);
  margin: 0;
}

* {
  box-sizing: border-box
}

/*NAVBAR*/
.navbar {
  background-color: #31b0d5;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: flex;
  justify-content: center;
}

.navbar a {
  font-weight: 200;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

/*JUMBOTRON*/
.jumbotron {
  height: 100vh; /*height to 100% of view height*/
  background: #31b0d5; /*background color to blue*/
  margin-bottom: 0; /*no bottom margin*/

  display: flex;
  flex-direction: column;
}

.jumbotron-text {
  /*TAGLINE UNDER NAME*/
  font-weight: 400;
  font-size: 2em;
  color: white;
  text-align: center;
  padding-top: 150px;
}

.jumbotron-text h1 {
  /*YOUR NAME*/
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 0;
  -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-11 16:47:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}






.jumbotron-text p {
  margin: 0;
  -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

/*SOCIAL LINKS*/
.ul-social {
  text-align: center;
  padding-left: 0;
  -webkit-animation: bounce-in-left 1.1s 2s both;
	        animation: bounce-in-left 1.1s 2s both;
}


/* ----------------------------------------------
 * Generated by Animista on 2021-12-11 16:49:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
            transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
            transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}



.li-social-links {
  display: inline-block;
  list-style: none;
}

.social {
  font-size: 2em;
  color: white;
  padding: 20px;
}

/*ARROW LINK*/
#down-arrow {
  /*position: absolute;
  width: 100%;*/
  margin-top: auto;
  text-align: center;
  margin-bottom: 50px;
}

#down-arrow a {
  color: white;
}

/*CONTENT*/
.container {
  /*sets up flexbox*/
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.white {
  background: white;
}

.side-content {
  flex: 0 0 16.6%;
}

.main-content {
  flex: 0 0 66.6%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.side-content-sm {
  flex: 0 0 10%;
}

.main-content-lg {
  flex: 0 0 80%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

h2 {
  font-weight: 200;
  font-size: 2rem;
  color: #31b0d5;
  text-transform: uppercase;
  text-align: center;
}

.content-body {
  line-height: 1.5;
  color: rgba(0,0,0,.75);
}

/*EDUCATION*/
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 30px;
}

.card-header {
  padding: .75rem 1.25rem;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.075);
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.card-content {
  padding: .25rem 1.25rem;
  flex: 1 1 auto;
}

h4 {
  margin: 0;
  font-weight: 400;
  color: grey;
}

.job-title {
  float: right;
}

/*PROJECTS*/
.project-card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.15);
}

.project-image {
  flex: 1 0 auto;
}

.project-image img {
  display: block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.project-content {
  flex: 1 1 auto;
  padding: 1.25rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*SKILLS*/
.ul-skills {
  text-align: center;
  padding-left: 0;
}

.li-skills {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: white;
  background: #31b0d5;
  list-style: none;
  cursor: default;
  font-size: 1.2em;
}

/*CONTACT*/
.blue {
  background: #3498db;
  text-align: center;
}

.contact {
  max-width: 500px;
  margin: 0 auto;
}

.contact input, .contact textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #1d6fa5;
  color: #fff;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.contact textarea {
  height: 150px;
  resize: none;
}

.contact button {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: #3498db;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.white-text {
  color: white;
}

.logo{
  background-image: url("/logo.png");
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: roll-in-blurred-left 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-left 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}



/* ----------------------------------------------
 * Generated by Animista on 2021-12-11 16:44:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-blurred-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


.li-social-links a:hover{
  color: chartreuse;
}

